.card > .card-body {
  position: relative;
  .action-btn {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &:focus,
  &:focus-within,
  &:hover {
    background: rgba($color: #000000, $alpha: 0.05);
    .action-btn {
      display: inline-block;
    }
  }
}
