<div class="d-flex align-items-end my-3">
  <button
    tabindex="0"
    (click)="onAddEditPost()"
    class="btn btn-info ml-auto"
  >
    Add Post
  </button>
</div>
<div class="card mb-4">
  <ul class="list-group list-group-flush">
    <li
      tabindex="0"
      *ngFor="let post of posts; trackBy: postId"
      class="list-group-item"
    >
      <strong>{{ post.title }}</strong>
      <p>{{ post.body }}</p>
      <div class="action-btn">
        <button
          tabindex="0"
          (click)="onAddEditPost(post.id)"
          class="btn btn-warning mr-1"
        >
          <img src="../../../../assets/pencil.svg" alt="edit" />
        </button>
        <button tabindex="0" class="btn btn-warning" (click)="onDeletePost(post.id)">
          <img src="../../../../assets/trash.svg" alt="delete" />
        </button>
      </div>
    </li>
  </ul>
</div>
