/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main > .container {
  padding: 6rem 1.5rem 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
